<div class="mb-4 pb-4 border-b dark:border-gray-600">
  <%= users_tabs 'Account' %>
</div>

<%= render "shared/flash" %>


<section class="mt-10">
  <h2 class="section-title dark:text-gray-200">Delete the account</h2>
  <span class="block text-sm text-gray-700 dark:text-gray-300 mb-5">This will completely remove your account. <br/>All data will be lost.</span>
  <%= button_to "Delete my account", users_account_path, data: { confirm: "Delete account with all the data? Are you sure?", turbo_confirm: "Delete account with all the data? Are you sure?" }, method: :delete, class: "btn-remove border" %>
</section>
