<div class="mt-10 text-center text-sm text-gray-500">
  <%- if controller_name == 'registrations' %>
    <p>
      If you have an account, you can <%= link_to "Log in", new_session_path(resource_name), class: 'font-semibold leading-6 text-violet-600 hover:text-violet-500' %>
    </p>
  <% end %>

  <%- if devise_mapping.registerable? && (controller_name == 'sessions'  || controller_name == 'passwords') %>
    <p>
      No account? <%= link_to "Sign up", new_registration_path(resource_name), class: 'font-semibold leading-6 text-violet-600 hover:text-violet-500' %><br />
    </p>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%#= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", user_omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
    <% end %>
  <% end %>
</div>
