<div class="mb-2 pb-2 border-b dark:border-gray-600">
  <h1 class="font-bold text-xl dark:text-gray-200 leading-7">Activity</h1>
</div>

<div class="mt-8">
  <ul role="list" class="space-y-6 mt-2">
    <% @records.each do |record| %>
      <%= render 'project/activity/record', record: record %>
    <% end %>
  </ul>
</div>
