<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mt-5">Admin Dashboard</h1>

  <div class="statistics mt-5">
    <h2 class="">Application Statistics</h2>
    <ul>
      <li>Total Users: <%= @total_users %></li>
      <li>Total Projects: <%= @total_projects %></li>
      <li>Total Files: <%= @total_files %></li>
      <li>Total Tasks: <%= @total_tasks %></li>
    </ul>
  </div>
</div>
