<div class="w-full">
  <% content_for :title, "Hello" %>

  <h1 class="md:mt-4 text-3xl font-bold dark:text-gray-200">Welcome!</h1>

  <div class="mt-6 dark:text-gray-200">
    <h3 class="text-lg font-semibold mb-2 text-gray-800 dark:text-gray-200">About the software</h3>
    <div class="mt-2 space-y-1 text-sm text-gray-600 dark:text-gray-400">
      <p>The project is quirky by design, adding a unique touch to your task management experience.</p>
      <p>It's minimalistic and perfect for individual use or small teams of up to 5 people.</p>
    </div>
  </div>

  <div class="mt-6 dark:text-gray-200">
    <h3 class="text-lg font-semibold mb-2 text-gray-800 dark:text-gray-200">Getting started</h3>
    <div class="mt-2 space-y-2 text-sm text-gray-600 dark:text-gray-400">
      <p>Tasks live inside projects. You can prioritize important tasks with a "star", set due date and write comments.</p>
      <p>The Personal project is your space for all personal tasks that you don't plan to share with others. Use it for tasks that don't need their own project.</p>
      <p>The Sample project is here to give you an impression of what a filled-out project looks like. It contains example data so you can explore the app's features. You can remove it when you are ready.</p>
    </div>
  </div>

  <div class="mt-6 dark:text-gray-200">
    <h3 class="text-lg font-semibold mb-2 text-gray-800 dark:text-gray-200">Personalization</h3>
    <div class="mt-2 space-y-2 text-sm text-gray-600 dark:text-gray-400">
      <p>The app supports color themes to personalize your experience. Visit your <%= link_to 'settings page', users_settings_path, class: "text-violet-700 dark:text-violet-600 underline" %> to choose from available themes.</p>
      <p>You can also customize your dark mode preference and manage your privacy settings there.</p>
    </div>
  </div>

  <div class="mt-4 border-t border-base dark:text-gray-200">
    <p class="pt-3 text-sm text-gray-600 dark:text-gray-400">Enjoy using the app, and if you have any questions or need assistance visit the <a href="https://gitlab.com/dzaporozhets/microprojectapp" class="text-violet-700 dark:text-violet-600 underline">dev project page</a></p>
  </div>

  <% if current_user && Devise.mappings[:user].confirmable? && !current_user.confirmed_at %>
    <p class="p-3 mt-3 bg-gray-100 dark:bg-gray-800 rounded-md text-xs text-gray-600 dark:text-gray-400">P.S. Check your inbox for the confirmation link. Make sure to confirm your email within an hour.</p>
  <% end %>

  <div class="mt-4">
    <%= link_to "Go to projects page", root_path, class: theme_button_primary %>
  </div>
</div>
