<div class="mx-auto md:w-2/3 w-full">
  <% content_for :title, "Hello" %>

  <h1 class="mt-10 text-4xl font-extrabold dark:text-gray-200">Welcome!</h1>

  <div class="mt-8 dark:text-gray-200">
    <h3 class="text-xl font-semibold mb-2">About the software</h3>
    <p>The project is quirky by design, adding a unique touch to your task management experience.</p>
    <p>It's minimalistic and perfect for individual use or small teams of up to 5 people.</p>
  </div>

  <div class="mt-8 dark:text-gray-200">
    <h3 class="text-xl font-semibold mb-2">Getting started</h3>
    <ul class="list-disc list-inside">
      <li>The Personal project is your space for all personal tasks that you don't plan to share with others. Use it for tasks that don't need their own project.</li>
      <li>The Sample project is here to give you an impression of what a filled-out project looks like. It contains example data so you can explore the app's features. You can remove it when you are ready.</li>
    </ul>
  </div>

  <div class="mt-5 border-t border-gray-200 dark:border-gray-800 dark:text-gray-200">
    <p class="pt-5">Enjoy using the app, and if you have any questions or need assistance visit the <a href="https://gitlab.com/dzaporozhets/microprojectapp" class="text-indigo-700 dark:text-indigo-600 underline">dev project page</a></p>
  </div>

  <% if current_user && Devise.mappings[:user].confirmable? && !current_user.confirmed_at %>
    <p class= "p-5 mt-5 bg-gray-100 rounded text-sm">P.S. Check your inbox for the confirmation link. Make sure to confirm your email within an hour.</p>
  <% end %>

  <div class="mt-5">
    <%= link_to "Go to projects page", root_path, class: 'btn-primary' %>
  </div>
</div>
