<div class="w-full">
  <% content_for :title, "Links" %>

  <div class="flex justify-between items-center mb-4 pb-4 border-b">
    <h1 class="font-bold text-2xl">Links</h1>
    <%= link_to "New link", new_project_link_path(@project), class: "rounded-md py-2 px-4 bg-indigo-700 text-white block text-sm" %>
  </div>

  <div id="links" class="min-w-full">
    <% @links.each do |link| %>
      <%= render link %>
    <% end %>
  </div>
</div>
