<div class="">
  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h1 class="resource-title">New link (bookmark)</h1>
        <p class="resource-description">
          Use the link feature to save URLs for external resources related to your project. This is ideal for links to documents, articles, or tools.
        </p>
      </div>
    </div>

    <div class="p-4 pt-0">
      <%= render "form", link: @link %>
    </div>
  </div>
</div>
