<div id="<%= dom_task_comments_id(@task) %>" class="divide-y divide-gray-200 dark:divide-gray-700">
  <% @task.comments.order(id: :asc).each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
