<div class="hidden md:block">
  <dt class="text-sm font-medium leading-6 text-gray-900 mb-2">Activity</dt>
  <ul role="list" class="space-y-6 mt-2">
    <li class="relative flex gap-x-4">
      <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
        <div class="w-px bg-gray-200"></div>
      </div>
      <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
        <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
      </div>
      <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">User Abc</span> added the file Estimate.doc.</p>
      <time datetime="2023-01-23T10:32" class="flex-none py-0.5 text-xs leading-5 text-gray-500">7d ago</time>
    </li>
    <li class="relative flex gap-x-4">
      <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
        <div class="w-px bg-gray-200"></div>
      </div>
      <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
        <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
      </div>
      <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">User Abc</span> edited the file Estimate.doc</p>
      <time datetime="2023-01-23T11:03" class="flex-none py-0.5 text-xs leading-5 text-gray-500">6d ago</time>
    </li>
    <li class="relative flex gap-x-4">
      <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
        <div class="w-px bg-gray-200"></div>
      </div>
      <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
        <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
      </div>
      <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">User Abc</span> added the file resume_back_end_developer.pdf</p>
      <time datetime="2023-01-23T11:24" class="flex-none py-0.5 text-xs leading-5 text-gray-500">6d ago</time>
    </li>
    <li class="relative flex gap-x-4">
      <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center">
        <div class="w-px bg-gray-200"></div>
      </div>
      <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
        <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
      </div>
      <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">User Xyz</span> opened the file Estimate.doc.</p>
      <time datetime="2023-01-24T09:12" class="flex-none py-0.5 text-xs leading-5 text-gray-500">2d ago</time>
    </li>
    <li class="relative flex gap-x-4">
      <div class="absolute left-0 top-0 flex h-6 w-6 justify-center">
        <div class="w-px bg-gray-200"></div>
      </div>
      <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
        <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
      </div>
      <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">User Xyz</span> resolved the task "Estimate the project".</p>
      <time datetime="2023-01-24T09:20" class="flex-none py-0.5 text-xs leading-5 text-gray-500">1d ago</time>
    </li>
  </ul>
</div>
