<div class="mb-4">
  <dt class="text-sm font-medium leading-6 text-gray-900">
    <%= link_to 'Files', project_files_path(@project) %>
  </dt>
  <dd class="mt-2 text-sm text-gray-900">
    <ul role="list" class="divide-y divide-gray-100">
      <% @project.project_files.each do |project_file| %>
        <%= render 'project/files/file', project_file: project_file %>
      <% end %>
      <li class="flex items-center justify-between px-4 py-2 text-sm leading-6">
        <div class="flex w-0 flex-1 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 flex-shrink-0 fill-gray-200 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>

          <div class="ml-4 flex min-w-0 flex-1 gap-2">
            <%= link_to "Add a file", new_project_file_path(@project), class: "truncate text-gray-600 hover:text-indigo-700" %>
          </div>
        </div>
      </li>
    </ul>
  </dd>
</div>

