<%= render 'project/tasks/form', project: @project %>
<%= render 'project/tasks/tasks', tasks_todo: @tasks_todo, tasks_done: @tasks_done %>

<% if @project.tasks.done.count > 50 %>
  <div class="my-10 text-center">
    <%= link_to project_tasks_path(@project, status: 'done'), class: "block py-2 px-3 text-sm leading-6 text-indigo-700 dark:text-indigo-300 hover:text-indigo-500" do %>
      Show all completed tasks
    <% end %>
  </div>
<% end %>

