<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md flex-grow">
  <div class="">
    <h1 class="font-bold text-2xl">Project settings</h1>

    <%= render "form", project: @project %>
  </div>

  <div class="mt-20 rounded-md p-4 bg-red-50 border-red-700 border">
    <span class="block text-sm text-red-900 mb-5">This will completely remove your project. <br/>All data will be lost.</span>
    <%= button_to "Destroy this project", @project, method: :delete, data: { turbo_confirm: 'Remove the project? Are you sure?' }, class: "btn-remove" %>
  </div>
</div>
