<div class="lg:w-2/3 mx-auto mt-4">
  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h1 class="resource-title">New project</h1>
        <p class="resource-description">Anything can be a project, whether it's brewing a cup of coffee or constructing a rocketship. Just start with a name.</p>
      </div>
    </div>

    <div class="p-4 pt-0">
      <%= render "form", project: @project %>
    </div>
  </div>
</div>
