<div class="mb-2 pb-2 border-b dark:border-gray-600">
  <h1 class="font-bold text-xl dark:text-gray-200 leading-7">Project Overview</h1>
</div>

<div class="mt-8 text-sm text-gray-700 dark:text-gray-300">
  <p>This is a hub for project details. You can access activity logs, manage your team, view files, and configure project settings from the sidebar.</p>
</div>
