<div class="mt-6 border border-gray-300 dark:border-gray-600 shadow-sm rounded-md bg-gray-50 dark:bg-gray-900 rounded-t-md">
  <div class="comments w-full">

    <div class="border-b text-sm flex items-center p-3 rounded-t-md dark:border-gray-700">
      <h3 class="font-semibold leading-6 text-gray-700 dark:text-gray-300">Comments</h3>
    </div>

    <%= render 'project/comments/comments' %>

    <div class="p-3 border-t dark:border-gray-700">
      <%= render 'project/comments/form' %>
    </div>
  </div>
</div>
