<div data-controller="task-form">
  <%= form_with(model: [project, task], local: false, id: 'new_task_form', data: { turbo_frame: 'task_form' }) do |form| %>
    <div class="mt-5 mb-5 flex w-full">
      <%= form.text_field :name, class: "flex-grow shadow rounded-md border border-gray-400 outline-none px-4 py-2 text-sm", required: true %>
      <%= form.submit "Add task", class: "rounded-md py-2 px-4 bg-indigo-700 text-white inline-block cursor-pointer text-sm ms-3" %>
      <%#= link_to "Advanced", new_project_task_path(project, task), class: "rounded-md py-2 px-4 bg-gray-100 text-gray-500 inline-block cursor-pointer text-sm ms-3" %>
    </div>
  <% end %>
</div>
