<div class="hidden w-auto sm:flex sm:flex-row items-center space-x-6">
  <div class="w-auto ml-auto">
    <%= content_tag :div, class: ui_toggle do %>
      <%= link_to "List", project_path(@project), class: " #{current_page?(project_path(@project)) || (controller_name == 'tasks') ? ui_toggle_active_tab : ui_toggle_tab }" %>
      <%= link_to "Schedule", project_schedule_path(@project), class: " #{current_page?(project_schedule_path(@project)) ? ui_toggle_active_tab : ui_toggle_tab }" %>
      <%#= link_to "Completed", completed_project_tasks_path(@project), class: " #{current_page?(completed_project_tasks_path(@project)) ? ui_toggle_active_tab : ui_toggle_tab }" %>
    <% end %>
  </div>
</div>
