<%= turbo_frame_tag "tasks", class: "mt-2 grid grid-cols-1 gap-1" do %>
  <% unless params[:status] == 'done' %>
    <% tasks_todo.each do |task| %>
      <%= render partial: "project/tasks/task", locals: { task: task } %>
    <% end %>

    <% if tasks_done.any? %>
      <div class="flex items-center justify-center my-5 text-sm">
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
        <span class="px-4 text-center text-gray-400 dark:text-gray-600">Completed</span>
        <span class="flex-grow border-t border-gray-100 dark:border-gray-900"></span>
      </div>
    <% end %>
  <% end %>

  <% if tasks_done.any? %>
    <% tasks_done.each do |task| %>
      <%= render partial: "project/tasks/task", locals: { task: task } %>
    <% end %>
  <% end %>
<% end %>
