<%= turbo_frame_tag "tasks", class: "mt-3 grid grid-cols-1 gap-2 lg:gap-3 lg:grid-cols-2" do %>
  <% unless current_page > 1 %>
    <% tasks_todo.each do |task| %>
      <%= render partial: "project/tasks/task", locals: { task: task } %>
    <% end %>

    <% if tasks_done.any? %>
      <div class="flex items-center justify-center my-5 text-sm lg:col-span-2">
        <span class="flex-grow border-t border-gray-100"></span>
        <span class="px-4 text-center text-gray-400">Done!</span>
        <span class="flex-grow border-t border-gray-100"></span>
      </div>
    <% end %>
  <% end %>

  <% if tasks_done.any? %>
    <% tasks_done.each do |task| %>
      <%= render partial: "project/tasks/task", locals: { task: task } %>
    <% end %>
  <% end %>
<% end %>
