<div class="space-y-4">
  <div class="flex">
    <%= link_to "Completed tasks only", project_path(@project), class: ui_active_tab %>
  </div>

  <div class="resource-container">
    <%= turbo_frame_tag "completed_tasks", class: "resource-list" do %>
      <% if @tasks.any? %>
        <% @tasks.each do |task| %>
          <%= render partial: "project/tasks/task", locals: { task: task } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= paginate @tasks %>
</div>
