<% if params[:status] == 'done' %>
  <div class="flex">
    <%= link_to 'Showing only completed tasks (x)', project_path(@project), class: 'btn-tab-active' %>
  </div>
<% else %>
  <%= render 'project/tasks/form', project: @project %>
<% end %>

<%= render 'project/tasks/tasks', tasks_todo: @tasks_todo, tasks_done: @tasks_done %>

<%= paginate @tasks_done %>
