<div class="w-full">
  <div class="mx-auto">
    <div class="flex flex-col md:flex-row md:space-x-12">
      <div class="mb-4 md:mb-0 md:w-2/3">
        <div class="text-sm font-medium leading-6 text-gray-900 mt-4">Tasks</div>

        <%= render 'project/tasks/form', task: @project.tasks.new, project: @project %>
        <%= render 'project/tasks/tasks', tasks_todo: @tasks_todo, tasks_done: @tasks_done %>

        <%= paginate @tasks_done %>
      </div>

      <div class="mb-4 md:mb-0 md:w-1/3">

      </div>
    </div>
  </div>
</div>
