<div class="">
  <div class="resource-container">
    <div class="resource-header">
      <div class="flex items-center justify-between w-full">
        <div>
          <h1 class="resource-title">Edit note</h1>
        </div>

        <div class="flex items-center space-x-2">
          <%= link_to project_note_path(@project, @note), class: "btn-sm", title: "Cancel" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>

    <div class="p-4">
      <%= render "form", note: @note %>
    </div>
  </div>

  <div class="resource-container mt-6">
    <div class="p-4">
      <div class="flex items-center justify-between">
        <div class="text-sm text-gray-600 dark:text-gray-400">
          <%= link_to last_update_text(@note), changes_project_note_path(@project, @note), class: 'underline hover:text-gray-900 dark:hover:text-gray-200' %>
        </div>

        <%= button_to "Delete this note", project_note_path(@project, @note), method: :delete, data: { turbo_confirm: 'Delete this note? Are you sure?' }, class: "btn-remove" %>
      </div>
    </div>
  </div>
</div>
