<div class="">
  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h3 class="resource-title">Notes</h3>
      </div>
      <div>
        <%= link_to 'New Note', new_project_note_path(@project), class: "btn-base" %>
      </div>
    </div>
  </div>

  <% if @project.notes.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
      <% @project.notes.basic_order.each do |note| %>
        <%= render 'project/notes/note', note: note %>
      <% end %>
    </div>
  <% else %>
    <div class="resource-container mt-4">
      <div class="resource-empty-state">
        <h3 class="resource-empty-title">No notes</h3>
        <p class="resource-empty-description">Get started by adding your first project note.</p>
      </div>
    </div>
  <% end %>
</div>
