<div class="">
  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h1 class="resource-title">New note</h1>
        <p class="resource-description">
          Use notes to capture ideas, decisions, or important information related to your project.
        </p>
      </div>

      <div class="flex items-center space-x-2">
        <%= link_to project_notes_path(@project), class: "btn-sm", title: "Cancel" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        <% end %>
      </div>
    </div>

    <div class="p-4">
      <%= render "form", note: @note %>
    </div>
  </div>
</div>
