<div class="">
  <div class="resource-container">
    <div class="resource-header">
      <div>
        <h1 class="resource-title">New note</h1>
        <p class="resource-description">
          Use notes to capture ideas, decisions, or important information related to your project.
        </p>
      </div>

      <div class="flex items-center space-x-2">
        <%= link_to project_notes_path(@project), class: "btn-sm", title: "Cancel" do %>
          <%= close_icon %>
        <% end %>
      </div>
    </div>

    <div class="p-4">
      <%= render "form", note: @note %>
    </div>
  </div>
</div>
