<div class="flex w-full">
  <div class="">
    <div class="min-h-[20rem]">
      <h2 class="p-4 text-primary text-xl">
        <%= @note.title %>
      </h2>

      <div class="p-4 prose prose-sm max-w-none text-base">
        <%= simple_format(@note.content) %>
      </div>
    </div>
  </div>
</div>
