<li class="py-2 sm:flex">
  <time datetime="<%= task.due_date %>" class="w-28 flex-none"><%= task.due_date.strftime("%a, %b %d") %></time>
  <p class="flex-auto font-medium text-gray-900"><%= task.name %></p>
</li>

