<li class="py-4 sm:flex">
  <time datetime="<%= task.due_date %>" class="w-28 flex-none"><%= task.due_date.strftime("%a, %b %d") %></time>
  <p class="mt-2 flex-auto font-semibold text-gray-900 sm:mt-0"><%= task.name %></p>
</li>

