<nav class="<%= nav_color %>">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-md px-4">
    <%= link_to 'MicroProject.app', root_path, class: "flex items-center h-12 my-2 font-medium" %>

    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <%= link_to search_path, class: "flex items-center space-x-2 text-gray-700 dark:text-gray-200 hover:underline" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
        <span class="hidden sm:inline">Search</span>
      <% end %>
      <%= render 'layouts/nav/user' %>
    </div>
  </div>
</nav>
