<nav class="<%= nav_color %>">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-md px-4">
    <%= link_to 'MicroProject.app', root_path, class: "flex items-center h-12 my-2 font-medium" %>

    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <%= render 'layouts/nav/user' %>
    </div>
  </div>
</nav>
