<header class="lg:hidden <%= nav_color %>">
  <div class="flex items-center mx-auto max-w-screen-md px-4 text-sm">
    <button type="button"
            class="flex items-center h-8 my-2 -ml-1 p-1"
            aria-label="Open navigation"
            data-action="click->sidebar#toggle">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M3.75 17.25h16.5" />
      </svg>
    </button>

    <%= link_to 'MicroProject.app', root_path, class: "flex items-center h-8 my-2 ml-3 font-bold" %>
  </div>
</header>
