<nav class="nav-container">
  <div class="flex flex-wrap nav-title">
    <%= link_to users_settings_path do %>
      <div class="flex items-start gap-x-3">
        <div class="nav-title-link">
          <span><%= current_user.email %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-wrap nav-controls">
    <%= users_tabs @tab_name %>
  </div>
</nav>
