<!DOCTYPE html>
<html class="<%= dark_mode_class %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="dark:bg-gray-950">
    <%= render 'layouts/project_nav' %>

    <main class="container mx-auto max-w-screen-xl p-4 flex">
      <div class="w-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
